<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wms_supermarket.mapper.UserMapper">
    <select id="queryById" resultType="com.example.wms_supermarket.entity.User">
        select * from user where userId=#{id}
    </select>
    <insert id="registerUser" keyProperty="userId" parameterType="com.example.wms_supermarket.entity.User">
        insert into user(name,password,realName,superId,role,userId,isRegister) values(#{name},#{password},#{realName},#{superId},#{role},#{userId},#{isRegister})
    </insert>
    <update id="addUser">
        update user set isRegister = 1 where userId=#{id}
    </update>
    <select id="queryAll" resultType="com.example.wms_supermarket.entity.User">
        select * from user where isRegister = 1 and superId = #{id}
    </select>
    <select id="queryByRegister" resultType="com.example.wms_supermarket.entity.User">
        select * from user where isRegister = 0 and superId = #{id}
    </select>
    <delete id="delete">
        delete from user where id=#{id}
    </delete>
</mapper>